.followersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 50px;
    width: 100%;
    margin-bottom: 50px;

}

.allMetricsContainer{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.socialNetworkTitle{
    background-color: blue;
    color: white;
    width: 90%;
    padding: 20px 10px;
    border-radius: 20px;
    margin-top: 40px;

}

.igCounters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 50px;
}

