
  [id^="reactgooglegraph"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-indicadores{
    margin-top: 20px;
  }

  .indicador{
    font-size: 20px;
    padding: 50px;
    text-align: center;
  }

  .divider-sentiment{
    height: 10px;
  }
