
input{
    background-color: red;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border:none;
}

input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

.right-container-trends{
    
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 60vw;
  height: 70vh;
  background-color: #ffffff;
  border-radius: 40px;
  min-width: 400px;
  padding-top: 50px !important;
  overflow-y: scroll;

}

.spacer{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  text-align: center;
}

#reactgooglegraph-1{
  margin-top: 100px !important;
}