.title{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.container{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

span{
    
}

.sufijo{
    font-size: 25px;
    font-weight: 500;
}