text {
  font-size: 0px !important;
}

text[text-anchor="middle"][x="200"][y="332"][font-family="arial"][font-size="40"][stroke="none"][stroke-width="0"][fill="#000000"] {
  font-size: 50px !important;
  font-family: Poppins;
  font-weight: 700;
}

circle[cx="199.5"][cy="199.5"][r="24"][stroke="#666666"][stroke-width="1"][fill="#4684ee"] {
  fill: red;
}

circle[cx="199.5"][cy="199.5"][r="180"][stroke="#333333"][stroke-width="1"][fill="#cccccc"] {
  fill: black;
}

/* Selecciona el tercer path */
path:nth-of-type() {
  fill: yellow;
}

#reactgooglegraph-1 table tbody tr td div div:nth-of-type(1) div svg g g path {
  fill: black;
  fill-opacity: 1;
  stroke: black;
}
