text[text-anchor="middle"][x="200"][y="332"][font-family="arial"][font-size="40"][stroke="none"][stroke-width="0"][fill="#000000"] {
  font-size: 50px !important;
  font-family: Poppins;
  font-weight: 700;
}

circle{}

[id^="reactgooglegraph"]> table > tbody > tr > td > div > div:nth-child(1) > div > svg > g > g > path {
  fill: black; /* Cambiar el color de relleno del elemento a rojo */
  fill-opacity: 1;
  stroke: black;
}

[id^="reactgooglegraph"] > table > tbody > tr > td > div > div:nth-child(1) > div > svg > g > text:nth-child(6){
  fill-opacity: 0;
}